{% extends "base.html" %}
{% load static %}

{% block title %}
    Producto | {{ producto.nombre }}
{% endblock title %}
{% block content %}
{% include 'breadcrumbs.html' %}
    <h1>{{ producto.nombre }}</h1>
    <h2>{{ producto.descripcion }}</h2>
    {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width='250' height='250'>
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p>Precio: {{ producto.precio }}</p>
{% endblock content %}
