{% extends "base.html" %}
{% load static %}

{% block title %}
    Productos
{% endblock title %}

{% block content %}
{% include 'breadcrumbs.html' %}
  <h1 class="module-title">Productos</h1>
  <section class="bottom-section d-flex justify-content-center">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-header">
              <th scope="col">Imagen</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio Venta</th>
              <th scope="col">Stock</th>
              <th scope="col">Lote</th>
              <th scope="col">Vencimiento</th>
              <th scope="col">Descripción</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for producto in productos %}
              <tr>
                  <td>
                      <div class="img-table-container">
                      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                      </div>
                  </td>
                  <td>
                      <p>{{ producto.id }}</p>
                  </td>
                  <td>
                      <p>{{ producto.nombre }}</p>
                  </td>
                  <td>
                    <p>{{ producto.precio_venta }}</p>
                  </td>
                  <td>
                    <p>{{ producto.stock }}</p>
                  </td>
                  <td>
                    <p>{{ producto.codigo_lote }}</p>
                  </td>
                  <td>
                      <p>{{ producto.fecha_vencimiento }}</p>
                  </td>
                  <td>
                    <p>{{ producto.descripcion }}</p>
                </td>
                  <td>
                    <p><a href="{% url 'carrito_agregar' producto.slug%}">Agregar</a></p>
                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
{% endblock content %}



