{% extends "base.html" %}
{% load static %}

{% block title %}
  Productos
{% endblock title %}

{% block content %}  
    <section class="list-container">
      <div class="buttons-container">
        <a  class="btn d-inline" href="{% url 'producto_crear' %}">
          Añadir Producto
          <img class="btn-icon" src="{% static 'icons/Add.svg' %}" alt="icono de añadir">
        </a>
        <a  class="btn d-inline" href="{% url 'tipo_producto_list' %}">
          Tipos de producto
          <img class="btn-icon" src="{% static 'icons/Add.svg' %}" alt="icono de pago">
        </a>
        <a  class="btn d-inline" href="{% url 'producto_report' %}">
          Generar Reporte
          <img class="btn-icon btn-report-icon" src="{% static 'icons/excel.png' %}" alt="icono de pdf">
        </a>
      </div>
      <section class="bottom-section d-flex justify-content-center">
        <div class="table-responsive">
          <table id="productoTable" class="table table-striped provider-table">
            <thead>
              <tr class="table-header">
                <th scope="col">Imagen</th>
                <th scope="col">Producto ID<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Categoría<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Nombre<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Precio Venta<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Proveedor<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Stock<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Lote<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Vencimiento<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Descripción<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for producto in object_list %}
              <tr>
                <td>
                  <div class="img-table-container">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                  </div>
                </td>
                <td><p>{{ producto.id }}</p></td>
                <td><p>{{ producto.tipo_producto }}</p></td>
                <td><p>{{ producto.nombre }}</p></td>
                <td><p>{{ producto.precio_venta }}</p></td>
                <td><p>{{ producto.proveedor.nombre }}</p></td>
                <td><p>{{ producto.stock }}</p></td>
                <td><p>{{ producto.codigo_lote }}</p></td>
                <td><p>{{ producto.fecha_vencimiento }}</p></td>
                <td><p>{{ producto.descripcion }}</p></td>
                <td>
                  <div class="action-icons-container">
                    <a href="{% url 'producto_editar' producto.id %}">
                      <img src="../static/icons/Edit.svg" alt="icono de editar">
                    </a>
                    <a href="{% url 'producto_borrar' producto.id %}">
                      <img src="../static/icons/Delete.svg" alt="icono de editar">
                    </a>   
                   </div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
          </table>   
      </div>
      </section>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a class="first" href="?page=1">
              <img src="{% static 'icons/double-left-arrow.png' %}" alt="left-arrow">
            </a>
            <a class="prev" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'icons/leftarrow.png' %}" alt="left-arrow">
              </a>
          {% endif %}
      
        <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
          
        {% if page_obj.has_next %}
          <a class="prev" href="?page={{ page_obj.next_page_number }}">
            <img src="{% static 'icons/rigth-arrow.png' %}" alt="right-arrow">
          </a>
          <a class="last" href="?page={{ page_obj.paginator.num_pages }}">
            <img src="{% static 'icons/double-right-arrow.png' %}" alt="right-arrow">
          </a>
        {% endif %}
      </span>
      </div>
    </section>

    <!-- Include jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#productoTable').DataTable({
               "dom": 't'
            });
        });
    </script>
{% endblock %}
