{% extends "base.html" %}

{% block title %}
    Confirmar Eliminación
{% endblock title %}

{% block content %}
    <section class="confirm-delete-container">
        <h1 class="delete-header">Confirmar Borrado de "{{ object.nombre }}"</h1>
        <div class="p-3">
          <h4 class="text-center h4">¿Estás seguro de que quieres eliminar "{{ object.nombre }}"?</h4>
          <form method="post" id="f-delete">
            {% csrf_token %}
          </form>
          <div class="d-flex justify-content-center gap-3 mt-5">
            <button form="f-delete" class="btn" type="submit">Confirmar</button>
            <a class="d-inline btn" href="{% url 'tipo_producto_list' %}">Cancelar</a>
          </div>
        </div>
      </section>
{% endblock content %}