@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #005b4a;
  --secondary-color: #2F4858;
  --font-color: #252525;
  --bg-color: #F1F0E8;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat";
  background-color: var(--bg-color);
}

.layout{
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  height: calc(100% - 53px);
}

main {
  height: calc(100vh - 53px);
  width: 100%;
  overflow: auto;
}

.wrapper{
  margin: 0 auto;
}

.module-title {
  text-align: center;
  margin-top: 16px;
}

.breadcrumb{
  width: fit-content;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #CACACA;
}

.breadcrumb-item{
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color)
}

.breadcrumb-item:last-child {
  font-weight: 600;
  color: var(--primary-color);
}

.breadcrumb-item a{
  color: inherit;
}

/******** NAVBAR ********/
.navbar {
  background-color: #fff;
  padding: 8px 0;
}
.navbar-toggler{
  display: none;
 }

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-weight: 600;
}

.navbar-brand img {
  width: 36px;
  height: 24px;
}

.offcanvas {
  padding: 0 10px;
}

.navbar-nav {
  font-size: 20px;
  font-weight: 500;
 }
 
 .offcanvas-body .nav-link {
   display: flex;
   align-items: center;
   gap: 8px;
   color: var(--font-color);
 }
 
 .offcanvas-nav-icon {
   width: 28px;
 }

/******** ASIDE ********/
.menu{
  display: flex;
  width: 58px;
  height: 100%;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.175);
  transition: width 200ms ease-in-out;
  overflow: hidden;
}

.menu.isOpen{
  width: 300px;
}

.menu-arrow{
  height: 28px;
  cursor: pointer;
  width: 28px;
  background-size: contain;
  background-image: url("../icons/right-arrow.png");
}

.menu.isOpen .menu-arrow{
  height: 28px;
  cursor: pointer;
  width: 28px;
  background-size: contain;
  background-image: url("../icons/left-arrow.png");
}

#menu-button{
  display: none;
}

.menu-header{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
  border: none;
}


.menu.isOpen .menu-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.menu-title{
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu.isOpen .menu-title{
  display: flex;
}

.menu-title img{
  width: 28px;
}

.menu-title h2{
  font-size: 16px;
  margin: 0;
  visibility: hidden;
  text-wrap: nowrap;
}

.menu.isOpen .menu-title h2{
  visibility: visible;
}

.menu .nav-link {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 16px;
  color: var(--font-color);
}

.item-name{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  display: none;
  text-wrap: nowrap ;
}

.menu.isOpen .item-name{
  display: block;
} 

.nav-item.logout{
  margin-top: auto;
}

.menu .nav-icon {
  width: 24px;
}

.menu .navbar-nav {
  display: flex;
  gap: 16px;
  height: 100%;
}

/******** TOP SECTION ********/
.top-section {
  padding: 54px 12px 24px;
}

.card {
  width: 166px;
  min-width: 110px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 10px 33px -27px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 33px -27px rgba(0,0,0,0.75);
  box-shadow: 1px 10px 33px -27px rgba(0,0,0,0.75);
}

a .card:hover {
  border: 1.5px solid var(--primary-color);
}

.row {
  row-gap: 64px;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.card-title {
  margin: 0;
   font-size: 18px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cards-container .card:nth-child(2) h2{
  font-size: 14px;
}

.card-title {
  font-size: 18px;
  font: 600;
}

.statistic {
  font-size: 20px;
  font-weight: 600;
}

.card-image-container {
  width: fit-content;
  padding: 4px;
  border: 1px solid #CACACA;
  border-radius: 4px;
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.card-image {
  width: 60px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  transition: background-color 300ms ease-in-out;
}

.btn-icon {
  width: 28px;
}

.btn:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

/******** BOTTOM SECTION ********/
.bottom-section {
  padding: 32px 12px;
}

.table {
  overflow: hidden;
  max-width: 1460px;
  border-radius: 4px;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #CACACA;
}

th,
.provider-table th {
  min-width: 122px;
  max-width: 122px;
  padding: 16px 0px 20px !important;
  overflow: hidden; 
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--secondary-color) !important;
  border-bottom: none;
}

.provider-table th{
  min-width: 164px;
  max-width: 164px;
}

tbody td {
  min-width: 122px;
  max-width: 122px;
  padding: 8px 0px !important;
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
}

tbody td p {
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 14px;
  color: rgba(37, 37, 37, 0.8) !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.provider-table tbody td p{
  display: block;
}

.img-table-container {
  width: 48px;
  margin: 0 auto;
}

.img-table-container img {
  width: 100%;
  margin: 0 auto;
}

.action-icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.action-icons-container img{
  width: 28px;
}

/******** FORM ********/
.form-container,
.confirm-delete-container{
  max-width: 920px;
  margin: 30px auto 60px;
  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.form-header,
.delete-header {
  font-size: 32px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px;
}

.product-form {
  padding: 20px 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  min-width: 280px;
  max-width: 420px;
}

.product-form input[type="text"],
.product-form input[type="file"],
.product-form input[type="number"],
.product-form input[type="email"]{
  background-color: #FAFAFA;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  outline: none;
}

.product-form input[type="file"]{
  padding: 5px 12px;
}

.product-form select,
.product-form textarea{
  background-color: #FAFAFA;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  outline: none;
}

.product-form select:focus,
.product-form textarea:focus{
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.product-form input:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.checkbox-wrapper{
  display: flex;
  align-items: end;
  padding: 0px 8px;
  height: 38px;
}

.product-form input[type="checkbox"]{
  width: 48px;
  height: 25px;
  margin-left: 20px;
}

.product-form input[type="checkbox"]:checked{
  accent-color: green;
  background-color: var(--primary-color);
}

/******** LOGIN ********/
.login-container{
  max-width: 700px;
}

.login-title{
  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
}

.login-subtitle{
  font-size: 32px;
}

.login-form label{
  font-size: 20px;
  color: var(--primary-color);
}

.login-form-group{
  width: 100%;
}

.register-form .form-group {
  width: 80%;
}

.register-form .form-group label{
  font-size: 20px;
  color: var(--primary-color);
}

.register-form .form-group input[type="text"],
.register-form .form-group input[type="email"],
.register-form .form-group input[type="password"]{
  background-color: #FAFAFA;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  outline: none;
}

/******** RESPONSIVE ********/
@media screen and (max-width: 575px){
  .register-form{
    flex-wrap: wrap;
  }

  .register-form .form-group {
    width: 100%;
  }

  .form-inputs-container{
    width: 100%;
  }
}

@media screen and (min-width: 991px) {
  /* .top-section {
    padding: 54px 12px 64px;
  } */
  .action-icons-container img{
    width: 24px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-toggler{
   display: block;
  }
  .menu{
    display: none;
   }
}
