{% extends "base.html" %}
{% load static %}

{% block title %}
    Módulo de Ventas
{% endblock title %}

{% block content %}
{% include 'breadcrumbs.html' %}
    <h1 class="module-title">Ventas</h1>
    <div class="d-flex flex-wrap justify-content-center py-5 gap-5">
        {% for sub_mod_path in sub_mods_paths %}
        <a class="text-decoration-none" href="{% url sub_mod_path %}">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-image-container">
                        <img class="card-image" src="{% static 'icons/' %}{{ sub_mod_path }}.svg"
                            alt="icono de {{ sub_mod_path }}">
                    </div>
                    <h2 class="card-title">{{ sub_mod_path|capfirst }}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}