{% extends "base.html" %}

{% block title %}
    Carrito
{% endblock title %}

{% block content %}
    <h1>Carrito</h1>
    <section class="bottom-section d-flex justify-content-center">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="table-header">
                    <th scope="col">ID Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items_carrito %}
                    <tr>
                        <td>
                            <p>{{ item.producto.id }}</p>
                        </td>
                        <td>
                            <p>{{ item.producto.nombre }}</p>
                        </td>
                        <td>
                            <p>{{ item.producto.descripcion }}</p>
                        </td>
                        <td>
                            <p>{{ item.cantidad }}</p>
                        </td>
                        <td>
                            <p><a href="{% url 'carrito_eliminar' item.producto.slug%}"><img src="../static\icons\Delete.svg"
                                alt="icono de eliminar de carrito"></a></a></p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}