{% extends "base.html" %}
{% load static %}

{% block title %}
  Proveedores
{% endblock title %}

{% block content %}
    <section class="list-container">
      <div class="buttons-container">
        <a  class="btn d-inline" href="{% url 'proveedor_crear' %}">
          Añadir Proveedor
          <img class="btn-icon" src="{% static 'icons/Add.svg' %}" alt="icono de añadir">
        </a>
        <a  class="btn d-inline" href="{% url 'pago_nuevo' %}">
          Realizar Pago
          <img class="btn-icon" src="{% static 'icons/Add.svg' %}" alt="icono de pago">
        </a>
        <a  class="btn d-inline" href="{% url 'proveedor_reporte' %}">
          Generar Reporte
          <img class="btn-icon btn-report-icon" src="{% static 'icons/excel.png' %}" alt="icono de pdf">
        </a>
      </div>
      <section class="bottom-section d-flex justify-content-center">
        <div class="table-responsive">
          <table id="proveedorTable" class="table table-striped provider-table">
            <thead>
              <tr class="table-header">
                <th scope="col">Id<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Nombre<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Correo<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col" class="number">Número Telefónico<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Tiempo Despacho<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Saldo Adeudado<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
        {% for proveedor in object_list %}
            <tr>
            <td>
              <p>{{ proveedor.id }}</p>
            </td>
            <td>
              <p>{{ proveedor.nombre }}</p>
            </td>
            <td>
              <p>{{ proveedor.correo }}</p>
            </td>
            <td>
              <p>{{ proveedor.numero_telefonico }}</p>
            </td>
            <td>
              <p>{{ proveedor.tiempo_despacho_aprox }}</p>
            </td>
            <td>
              <p>{{ proveedor.saldo_adeudado }}</p>
            </td>
            <td>
              <div class="action-icons-container">
                <a href="{% url 'proveedor_editar' proveedor.pk %}">
                  <img src="{% static 'icons/Edit.svg' %}" alt="icono de editar">
                </a>
                <a href="{% url 'proveedor_borrar' proveedor.pk %}">
                  <img src="{% static 'icons/Delete.svg' %}" alt="icono de eliminar">
                </a>   
               </div>
            </td>
          </tr>
        {% endfor %}
          </tbody>
          </table> 
      </div>
      </section>  
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a class="first" href="?page=1">
              <img src="{% static 'icons/double-left-arrow.png' %}" alt="left-arrow">
            </a>
            <a class="prev" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'icons/leftarrow.png' %}" alt="left-arrow">
              </a>
          {% endif %}
      
        <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
           
        {% if page_obj.has_next %}
          <a class="prev" href="?page={{ page_obj.next_page_number }}">
            <img src="{% static 'icons/rigth-arrow.png' %}" alt="right-arrow">
          </a>
          <a class="last" href="?page={{ page_obj.paginator.num_pages }}">
            <img src="{% static 'icons/double-right-arrow.png' %}" alt="right-arrow">
          </a>
        {% endif %}
      </span>
      </div>
    </section>
    <!-- Include jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <script>
        $(document).ready(function() {
          $('#proveedorTable').DataTable( {
          "dom": 't '
          });
        });
    </script>
{% endblock %}