{% extends "base.html" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="container-fluid mx-auto my-5 p-5 bg-white login-container">
      <div class="d-flex flex-column gap-3">
        <h1 class="login-title">Sistema de Administración</h1>
        <h2 class="login-subtitle">Login</h2>
      </div>
      <form class="login-form d-flex flex-column gap-4 mt-3" action="" method="POST">
          {% csrf_token %}
          <div class="login-form-group">
            <label for="username">Usuario</label>
            <input name="username" type="text" class="form-control " aria-describedby="emailHelp" placeholder="Ingrese el nombre de usario">
          </div>
          <div class="login-form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Ingrese la contraseña">
          </div>
          <button class="btn d-inline w-50 mx-auto mt-3 py-3 text-center " type="submit">Ingresar</button>
        </form>
    </div>
{% endblock content %}