{% extends "base.html" %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
    <div class="container-fluid mx-auto my-5 p-5 bg-white login-container">

    	<div class="d-flex flex-column gap-3">
      	<h1 class="login-title">Sistema de Administración</h1>
        <h2 class="login-subtitle">Registro</h2>
        </div>
      	<form class="register-form d-flex gap-4 mt-3" action="" method="POST">
        	{% csrf_token %}
					<div class="form-inputs-container d-flex flex-column gap-4">
						{% for field in form %}
						<div class="form-group">
							{{ field.label_tag }}
							{{ field }}
						</div>
						{% endfor %}
					</div>
          

					<div class="register-constraints">
						<ul class="d-flex flex-column gap-4">
							<li>El usuario debe tener menos de 150 caracteres.</li>
							<li>La contraseña debe contener al menos 8 caracteres.</li>
							<li>La contraseña y el nombre de usuario no pueden ser los mismos.</li>
						</ul>
					</div>
        </form>
        <button type="submit" class="btn mt-5 mx-auto">Submit</button>
    </div>
{% endblock content %}