{% extends "base.html" %}
{% load static %}

{% block title %}
  Ordenes
{% endblock title %}

{% block content %}
    <section class="list-container">
      <div class="buttons-container">
        <a  class="btn d-inline" href="{% url 'crear_orden' %}">
          Crear Orden
          <img class="btn-icon" src="{% static 'icons/Add.svg' %}" alt="icono de añadir">
        </a>
        <a  class="btn d-inline" href="{% url 'orden_report' %}">
          Generar Reporte
          <img class="btn-icon btn-report-icon" src="{% static 'icons/excel.png' %}" alt="icono de pdf">
        </a>
      </div>
      <section class="bottom-section d-flex justify-content-center">
        <div class="table-responsive order-table">
          <table id="ordenesTable" class="table table-striped provider-table">
            <thead>
              <tr class="table-header">
                <th scope="col">Orden ID<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Fecha de Creación<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Precio Venta<img src="{% static 'icons/sort-icon.png' %}" alt="sort"></th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for orden in ordenes %}
              <tr>
              <td>
                <p><a href="{% url 'detalle_orden' orden.id %}">Orden {{ orden.id }}</a></p>
              </td>
              <td>
                <p>{{ orden.fecha_creacion }}</p>
              </td>
            {% if orden.completada %}
              <td>
                <p>Completada</p>
              </td>
              <td>
                <p>-</p>
              </td>
            {% else %}
              <td>
                <p>No completada</p>
              </td>
              <td>
                <p><a href="{% url 'completar_orden' orden.id %}">Completar Orden</a></p>
              </td>
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>
          </table>
          <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a class="first" href="?page=1">
                <img src="{% static 'icons/double-left-arrow.png' %}" alt="left-arrow">
              </a>
              <a class="prev" href="?page={{ page_obj.previous_page_number }}">
                  <img src="{% static 'icons/leftarrow.png' %}" alt="left-arrow">
                </a>
            {% endif %}
        
          <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
             
          {% if page_obj.has_next %}
            <a class="prev" href="?page={{ page_obj.next_page_number }}">
              <img src="{% static 'icons/rigth-arrow.png' %}" alt="right-arrow">
            </a>
            <a class="last" href="?page={{ page_obj.paginator.num_pages }}">
              <img src="{% static 'icons/double-right-arrow.png' %}" alt="right-arrow">
            </a>
          {% endif %}
        </span>
        </div>
      </div>
      </section>  
    </section>
    <!-- Include jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#ordenesTable').DataTable({
              "dom": 't'
            });
        });
    </script>
{% endblock %}