{% extends 'base.html' %}

{% block content %}
  <section class="form-container">
    <h1 class="form-header">Ingresar tiempo de despacho final de la orden #{{ orden.id }}</h1>
    <form method="post" enctype="multipart/form-data" id="f-addTime" class="product-form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
      </div>
    {% endfor %}
    </form>
    <div class="d-flex justify-content-center gap-3 mt-5">
      <button form="f-addTime" class="btn" type="submit">Confirmar</button>
    </div>
  </section>
  
{% endblock %}
