{% extends "base.html" %}

{% block title %}
    Facturas
{% endblock title %}

{% block content %}
    <h1>Lista de Facturas</h1>
    <ul>
        {% for factura in facturas %}
            <li>
                Factura # <a href="{% url 'factura_detalle' factura.id %}">{{ factura.numero_factura }}</a>  - {{ factura.fecha_emision }} - Total: {{ factura.total }}
            </li>
        {% empty %}
            <li>No hay facturas disponibles.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'monto_facturado_por_producto' %}">Montos facturados por producto</a>
{% endblock content %}
